@import url("https:://db.onlinewebfonts.com/c/7cc6719bd5f03150ba33418e72e?family=Comic+Sans+MS");
p 
{
    color: rebeccapurple;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
h1
{
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
h2
{
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
ul
{
    color: rebeccapurple;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}